{% extends "global/Page.html" %}
{% load otree %}
{{ block title }}{{ endblock }}


{{ block styles }}
<style>
    .tab {
        display: none;
        text-align: justify;
    }
    .otree-title {
        text-align: center;
    }
    .otree-body{
        font-size: 103%;
    }
    .otree-timer {
        display: none;
    }
</style>
<style>
  .slidecontainer {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
    }
    .slider {
      -webkit-appearance: none;
      width: 100%;
      height: 100%;
      border-radius: 5px;
      background: #d3d3d3;
      outline: none;
      opacity: 0.7;
      -webkit-transition: .2s;
      transition: opacity .2s;
    }
    .slider:hover {
      opacity: 1;
    }
    .slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: #4CAF50;
      cursor: pointer;
    }
    .slider::-moz-range-thumb {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: #4CAF50;
      cursor: pointer;
    }
    .vranger {
       margin-top: 50px;
       transform: rotate(270deg);
      -moz-transform: rotate(270deg); /*do same for other browsers if required*/
    }
</style>
<style>
    aside  {
      width: 600px;
      height: 600px;
      background: none;
      overflow:auto;
      min-height: 0;
      transition-property: width;
      transition-duration: 0.2s;
      transition-timing-function: linear;
    }
</style>
<style>
    .checkboxgroup {
    display: inline-block;
    text-align: center;
      margin-top: 7px
    }
    .checkboxgroup input[type='radio'] {
        height: 17px;
        width: 17px;
        vertical-align: middle;
    }
    .checkboxgroup button {
      display: block;
      margin-bottom: 7px;
      font-size: 14px
    }
    .div1 {
      float: left;
      text-align: left;
    }

    .div2 {
      float:right;
      text-align: right;
    }
    .main {
        width: 90%
    }
</style>
<style>
/* The checkcontainer */
    .checkcontainer {
      display: block;
      position: relative;
      padding-left: 35px;
      margin-top: 3px;
      margin-bottom: 0px;
      cursor: pointer;
      font-size: 10px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    /* Hide the browser's default checkbox */
    .checkcontainer input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }
    /* Create a custom checkbox */
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 15px;
      width: 15px;
      background-color: #eee;
    }
    /* On mouse-over, add a grey background color */
    .checkcontainer:hover input ~ .checkmark {
      background-color: #ccc;
    }
    /* When the checkbox is checked, add a green background */
    .checkcontainer input:checked ~ .checkmark {
      background-color: #4CAF50;
    }
    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }
    /* Show the checkmark when checked */
    .checkcontainer input:checked ~ .checkmark:after {
      display: block;
    }
    /* Style the checkmark/indicator */
    .checkcontainer .checkmark:after {
      left: 5px;
      top: 2px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
</style>
<style>
    * {
      box-sizing: border-box;
    }
    /* Create two unequal columns that floats next to each other */
    .column {
      float: left;
      padding: 10px;
    }
    .left {
      width: 30%;
    }
    .right {
      width: 60%;
    }
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
</style>
<style>
    .table {
        font-size: 15px
    }
    .table td{
        padding: 1px
    }
</style>
{{ endblock }}

{{ block scripts }}
<!-- Code for PREV-NEXT buttons -->
<script>
    let activeTab = 0;

    function showCurrentTabOnly() {
        let tabIndex = 0;
        for (let tab of document.getElementsByClassName('tab')) {
            tab.style.display = tabIndex === activeTab ? 'block' : 'none';
            tabIndex++;
        }
    }

    showCurrentTabOnly();
    for (let btn of document.getElementsByClassName('btn-tab')) {
        btn.onclick = function () {
            activeTab += parseInt(btn.dataset.offset);
            showCurrentTabOnly();
        }
    }
</script>
<!--Update table on load-->
<script>
    window.onload = function () {
        var cutoff = document.getElementById("risk_cutoff").value;
        var left = cutoff;
        var right = parseInt(left)+1;

        var b = parseFloat({{ stakes }}-(left-1)/2).toFixed(2);

        if (left==0) {
            document.getElementById("demo").innerHTML = 'Always choose <br>' + 'Option B.';
        }
        else if (left==100) {
            document.getElementById("demo").innerHTML = 'Always choose <br>' + 'Option A.';
        }
        else {
            document.getElementById("demo").innerHTML = 'Choose Option A if it pays<br> <b>at least \u20ac' + b + '</b> for sure.';
        }

        var elements1 = document.getElementsByName('optleft');
        var elements2 = document.getElementsByName('optright');
        for (i = 0; i < elements1.length; i++) {
            elements1[i].checked = false;
            if (elements1[i].value <= parseInt(cutoff)) {
                elements1[i].checked = true;
            }
        }
        for (i = 0; i < elements2.length; i++) {
            elements2[i].checked = false;
            if (elements2[i].value > parseInt(cutoff)) {
                elements2[i].checked = true;
            }
        }
        $('#check_cutoff').val(1);
    }
</script>
<!--Populate table-->
<script>
    for (var a=1; a < 31; a++) {
        var table1 = document.getElementById('table_iterator');
        var rowrow = document.createElement('tr');

        for (i=0; i <1; i++) {
            var rownum = a;
            var b = parseFloat({{ stakes }}-(a-1)/2).toFixed(2);

            var cell1 = document.createElement('td');
            var text1 = document.createTextNode(rownum);

            var cell2 = document.createElement('td');
            var text2a = document.createTextNode('Receive \u20ac' + b + ' for sure');
            var text2b = document.createElement('br');
            var text2c = document.createTextNode('');

            var cell3a = document.createElement('td');

            var cell3b = document.createElement('label');
            cell3b.classList.add("checkcontainer");

            var cell3c = document.createElement('input');
            cell3c.setAttribute("type", "checkbox");
            cell3c.setAttribute("name", "optleft");
            cell3c.setAttribute("value", a);
            cell3c.setAttribute("disabled", "");

            var cell3d = document.createElement('span');
            cell3d.classList.add("checkmark");

            var cell4 = document.createElement('td');
            var text4 = document.createTextNode('');

            var cell5 = document.createElement('td');
            var text5a = document.createTextNode('Receive \u20ac{{ stakes }} with {{ risk_prob }}% chance');
            var text5b = document.createElement('br');
            var text5c = document.createTextNode('Receive \u20ac0 with {{ risk_prob_invert }}% chance');

            var cell6a = document.createElement('td');

            let cell6b = document.createElement('label');
            cell6b.classList.add("checkcontainer");

            var cell6c = document.createElement('input');
            cell6c.setAttribute("type", "checkbox");
            cell6c.setAttribute("name", "optright");
            cell6c.setAttribute("value", a);
            cell6c.setAttribute("disabled", "");

            let cell6d = document.createElement('span');
            cell6d.classList.add("checkmark");

            cell1.appendChild(text1);
            rowrow.appendChild(cell1);

            cell2.appendChild(text2a);
            cell2.appendChild(text2b);
            cell2.appendChild(text2c);
            rowrow.appendChild(cell2);

            cell3a.appendChild(cell3b);
            cell3a.appendChild(cell3c);
            cell3a.appendChild(cell3d);
            rowrow.appendChild(cell3a);

            cell4.appendChild(text4);
            rowrow.appendChild(cell4);

            cell5.appendChild(text5a);
            cell5.appendChild(text5b);
            cell5.appendChild(text5c);
            rowrow.appendChild(cell5);

            cell6a.appendChild(cell6b);
            cell6a.appendChild(cell6c);
            cell6a.appendChild(cell6d);
            rowrow.appendChild(cell6a);
        }
        table1.appendChild(rowrow);
    }
</script>
{{ endblock }}

{{ block content }}
<!-- Page 1 -->
<div class="tab">
    <div class="card-header bg-transparent mainheader" >
        <h4>
            <center>
                Instructions for Part B (Page 1)
            </center>
        </h4>
    </div>

    <br>

    <p>
        In Part B, you will be asked to make a series of decisions as presented in a table. There are <b>three</b> tables, each consisting of <b>30</b> rows. Each row in the table represents a decision task.
        <br><br>
        At the end of the experiment, if you are paid for Part B, then the computer will randomly pick <b>one of the decision tasks</b> for payment. That is, the computer will randomly choose <b>one row in one of the tables</b> for payment.
        <br><br>
        In each decision task, you will be presented with two options, labeled <b>Option A</b> and <b>Option B</b>. Option A and Option B differ in how your payment will be determined. Specifically,
        <ol>
            <li>Under Option A, you will receive some amount for sure.</li>
            <li>Under Option B, you will receive &euro;{{ stakes }} with some chance, and zero otherwise.</li>
        </ol>
        <br>
        <b>As you move down the <u>same</u> table, the amount that you will receive for sure under Option A will decrease, while Option B will always remain unchanged.</b>
        <br><br>
        To help you make your decisions, you will be asked to adjust a slider on the left-hand side of the table to represent at which row you would like to switch from choosing Option A to choosing Option B.
        <br><br>
        We will show you an example of the screen on the next page.
    </p>

    <p>
        <button type="button" class="btn btn-primary btn-tab" data-offset="1" style="float: right">Next</button>
    </p>
</div>


<!-- Page 2 -->
<!-- Duplicate this div if you have more than 3 pages of instructions -->
<div class="tab">
    <div class="card-header bg-transparent mainheader" >
        <h4>
            <center>
                Instructions for Part B (Page 2)
            </center>
        </h4>
    </div>

    <br>

    <p>
        An example screen is given below (note that you will not be able to adjust the slider in this example).
    </p>

    <center>
        <div class="row" style="background-color:light grey; padding: 0px; border: 2px solid black;">
            <div class="column left">
                <p id="demo"></p>
                <br><br><br><br><br><br>
                <div class="slidecontainer vranger">
                    <input type="range" id="risk_cutoff" value="10" max="30" min="0" step="1" class="slider" disabled="True">
                </div>
            </div>

            <div class="column right">
                <aside id="scrolling-container">
                    <div>
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th width="5%">#</th>
                                    <th width="40%">Option A</th>
                                    <th width="5%"></th>
                                    <th width="5%"></th>
                                    <th width="40%">Option B</th>
                                    <th width="5%"></th>
                                </tr>
                            </thead>
                            <tbody id="table_iterator">

                            </tbody>
                        </table>
                    </div>
                </aside>
            </div>
        </div>
    </center>

    <br>
    <p>
        <u>Example:</u> Suppose the decisions as displayed above were submitted for Part B, and this table was randomly chosen for payment. At the end of the experiment,
        <ul>
            <li>if the computer randomly selects row #7 for payment, then you will receive &euro;12.00.</li>
            <li>if the computer randomly selects row #21 for payment, then you will receive &euro;15 with a 50% chance, and &euro;0 with a 50% chance.</li>
        </ul>
    </p>

    <br><br>
    <p>
        <button type="button" class="btn btn-primary btn-tab" data-offset="-1" style="background-color: gray;
        border-color: gray;">Previous</button>
        <button type="button" class="btn btn-primary btn-tab" data-offset="1" style="float: right;">Next</button>
    </p>
</div>


<!-- Page 3 -->
<!-- FINAL PAGE -->
<div class="tab">
    <div class="card-header bg-transparent mainheader" >
        <h4>
            <center>
                Instructions for Part B (Page 3)
            </center>
        </h4>
    </div>

    <br>

    <p>
        Just a reminder that you will be asked to make decisions for <b>three different tables</b>.
        <br><br>
        <b>Within the same table, Option B is the same. However, Option B changes across tables.</b>
        <br><br>
        Please pay attention!
        <br><br>
        <br><br>
        Are there any questions? If you do, please send a message to the Experimenter via Zoom.
        <br><br>
        If not, please proceed to make your decisions on the next page.
        <br><br>
    </p>

    <p>
        <button type="button" class="btn btn-primary btn-tab" data-offset="-1" style="background-color: gray;
        border-color: gray;">Previous</button>
        <button class="btn btn-primary" style="float: right;">Continue</button>
    </p>
</div>

{{ endblock }}