{% extends "global/Page.html" %}
{% load otree %}
{{ block title }}Part A (Round {{ player.round_number }}){{ endblock }}

{{ block scripts }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
var slider = document.getElementById("myRange");
var minvalue = document.getElementById("min");
var maxvalue = document.getElementById("max");
var beliefvalue = {{ belief }};

slider.oninput = function() {
  minvalue.innerHTML = beliefvalue-(30-this.value);
  maxvalue.innerHTML = beliefvalue+(30-this.value);
  if (minvalue.innerHTML<0) {
    minvalue.innerHTML=0;
  }
  if (maxvalue.innerHTML>100) {
    maxvalue.innerHTML=100;
  }
  if (this.value==30) {
    certain.style.display = "block";
    uncertain.style.display = "none";
  }
  if (this.value!=30) {
    certain.style.display = "none";
    uncertain.style.display = "block";
  }
  instruction.style.display = "none";
  active.style.display = "block";
  inactive.style.display = "none";
}
</script>
<script type="text/javascript">
    //Array containing possible colors,and the number of balls already colored with that given color
    let allColors;
    {% if treatrisk %}
        {% if prior == 50 %}
            allColors = [
                {
                    color: '{{ slicecolor1 }}',
                    number: 0
                },
                {
                    color: '{{ slicecolor2 }}',
                    number: 0
                }
            ];
        {% else %}
            allColors = [
                {
                    color: '{{ slicecolor1 }}',
                    number: 0
                },
                {
                    color: '{{ slicecolor2 }}',
                    number: 0
                },
                {
                    color: '{{ slicecolor3 }}',
                    number: 0
                },
                {
                    color: '{{ slicecolor4 }}',
                    number: 0
                },
                {
                    color: '{{ slicecolor5 }}',
                    number: 0
                },
            ];
        {% endif %}
    {% else %}
        allColors =  [];
    {% endif %}
    console.log(allColors);
</script>
<script>
    const urnContainer = document.querySelector('.urn');

    //Ball Object
      class Ball {

        constructor(x, y, color,colorName, border, size) {
           this.x = x;
           this.y = y;
           this.color = color;
           this.colorName = colorName;
           this.border = border;
        }
        //Function to "draw" the ball using the details it's object has
        draw() {
            const ball = document.createElement('div');
            ball.classList.add('ball');
            ball.style.left = this.x + 'px';
            ball.style.top = this.y + 'px';
            if(this.border){
                ball.classList.add('uncolored');
            }else{
                ball.classList.add(this.colorName);
                ball.style.background = this.color;
            }
            urnContainer.appendChild(ball);
          }
     }

     //A sort of flag to know that the balls are already highlighted, in order to prevent multiple calls to the highlighting function
     let ballsHighlighted = false;
     const highlightBalls = function(isColor, colorName) {
         //If already highlighted, break out
         if(ballsHighlighted){
            return;
         }
         ballsHighlighted = true;

        let ballsToHighlight,
            rowToHighlight,
        className;

        //Highlight the balls with the specified color
        if(isColor){
            ballsToHighlight = urnContainer.querySelectorAll(`.ball.${colorName}`);
            rowToHighlight = urnContainer.querySelector(`.color-row.${colorName}`);
            className = 'highlighted'

            rowToHighlight.classList.toggle(`${className}`);
        //Highlight the balls that are NOT of the specified color
        }else{
            ballsToHighlight = urnContainer.querySelectorAll(`.ball:not(.${colorName})`);
            rowToHighlight = urnContainer.querySelectorAll(`.color-row:not(.${colorName})`);
            className = 'highlightedAll';
            for (var i =0;i<rowToHighlight.length; i++){
                rowToHighlight[i].classList.toggle(`${className}`);
            }
        }

        for (var i =0;i<ballsToHighlight.length; i++){
            ballsToHighlight[i].classList.toggle(`${className}`);
        }
     }

     const unhighlightBalls = (isColor, colorName)=>{
          if(!ballsHighlighted){
            return;
         }

         let ballsToHighlight,
             rowToHighlight,
            className;

        //Highlight the balls with the specified color
        if(isColor){
            ballsToHighlight = urnContainer.querySelectorAll(`.ball.${colorName}`);
            rowToHighlight = urnContainer.querySelector(`.color-row.${colorName}`);
            className = 'highlighted'

            rowToHighlight.classList.toggle(`${className}`);

        //Highlight the balls that are NOT of the specified color
        }else{
            ballsToHighlight = urnContainer.querySelectorAll(`.ball:not(.${colorName})`);
            rowToHighlight = urnContainer.querySelectorAll(`.color-row:not(.${colorName})`);
            className = 'highlightedAll';
            for (var i =0;i<rowToHighlight.length; i++){
                rowToHighlight[i].classList.toggle(`${className}`);
            }
        }

        for (var i=0;i<ballsToHighlight.length; i++){
            ballsToHighlight[i].classList.toggle(`${className}`);
        }
        ballsHighlighted = false;
    }

     //Balls array, used to later draw each ball object within
    balls = [];

    let size = 20,
        yPos = 0,
        i=0,
        x=17,
        y=278,
        increment = 5;

    while(balls.length<100){
        //First row of balls is unique, in order to account for the curved section of the jar
        if(yPos === 0){
            ball = new Ball(
            x,
            y,
            '#333',
            'red',
            true
        );
        x+=size+2;
        //If reached the end of the first row(right side of the jar), go to the next row
        if(x>220){
            yPos += 1;
        }
        balls.push(ball);
    }
    //All other rows
    else if(yPos >= 1){
        if(x>=220){
            yPos +=1;
            y-=size+2;
            x=0;
        }else{
            x+=size+increment;
        }
        ball = new Ball(
            x,
            y,
            '#333',
            'red',
            true
        );
        balls.push(ball);

        }

    }

    //Loop through each ball object in the 'balls' array, in order to "draw" each of them
    function loop() {
        for (const ball of balls) {
          ball.draw();
        }
    }

    //Call to drawing functions
    loop();

    const allBalls = document.querySelectorAll('.ball'),
    numberOfColors = allColors.length;


    //Function used in order to get a random color from the array, making sure that the number of balls of the returned color has not already surpassed
    // the possible maximum
    const getRandomColor = function(){
        let colorToAdd = allColors[Math.floor(Math.random() * numberOfColors)];
        while(colorToAdd.number>=(100/numberOfColors)){
            colorToAdd = allColors[Math.floor(Math.random() * numberOfColors)];
        }
        colorToAdd.number = `${parseInt(colorToAdd.number)+1}`;
        return colorToAdd;
    }

    // //Function used to get consecutive colors, in case on wants to fill each row with the same color
    // //The colors of each row are still randomized
    // let colorIndex =Math.floor(Math.random() * numberOfColors),
    //     colorToAdd = allColors[colorIndex];
    // const getConsecutiveColors = function(){
    //     if(colorToAdd.number>=100/numberOfColors){
    //         colorIndex = Math.floor(Math.random() * numberOfColors);
    //         colorToAdd = allColors[colorIndex];
    //         while(colorToAdd.number>=(100/numberOfColors)){
    //             colorIndex = Math.floor(Math.random() * numberOfColors)
    //             colorToAdd = allColors[colorIndex];
    //         }
    //     }
    //     colorToAdd.number = `${parseInt(colorToAdd.number)+1}`;
    //     return colorToAdd;
    // }

    let colorIndex = 0,
        colorToAdd = allColors[colorIndex];
    const getConsecutiveColors = function(){
        if(colorToAdd.number>=100/numberOfColors){
            colorIndex++;
            colorToAdd = allColors[colorIndex];
            while(colorToAdd.number>=(100/numberOfColors)){
                colorIndex = Math.floor(Math.random() * numberOfColors)
                colorToAdd = allColors[colorIndex];
            }
        }
        colorToAdd.number = `${parseInt(colorToAdd.number)+1}`;
        return colorToAdd;
    }
</script>
<script>
    if(allColors.length>0){
        allBalls.forEach(ball =>{
            ball.classList.remove('uncolored');
            //If you want random colors, use the following line of code
            // let colorToAdd = getRandomColor();
            //Else:
            let colorToAdd = getConsecutiveColors();
            let colorName = colorToAdd.color;
            ball.style.background = colorName.replace(/\s/g, "").toLowerCase();
            ball.classList.add(colorName.replace(/\s/g, "-").toLowerCase());
        })
        //Set left column rows positions
        let leftColumnRows = document.querySelectorAll('.color-row'),
        colorBefore ='blank';
        for(let i = leftColumnRows.length-1;i>=0;i--){
            leftColumnRows[i].style.top = `${allBalls[i*10].offsetTop - 3}px`;
            if(allBalls[i*10].style.background != '' && colorBefore != allBalls[i*10].style.background){
                leftColumnRows[i].innerText = `${document.querySelectorAll('.' + allBalls[i*10].style.background).length} ${allBalls[i*10].style.background} balls`;
                leftColumnRows[i].classList.add(`${allBalls[i*10].style.background}`)
                colorBefore = allBalls[i*10].style.background;
            }
        }
    }
    const predictedEvent = '{{colorevent}}';
    {% if treatrisk %}
        {% if predictfalse %}
            setTimeout(()=>{
                highlightBalls(false, predictedEvent.replace(/\s/g, "-").toLowerCase());
                //Unhighlight after 2seconds
                setTimeout(()=>{
                    unhighlightBalls(false, predictedEvent.replace(/\s/g, "-").toLowerCase())
                },2000);

                document.querySelector('.predicted-event').addEventListener('mouseenter', ()=>{
                    highlightBalls(false, predictedEvent.replace(/\s/g, "-").toLowerCase());
                });
                document.querySelector('.predicted-event').addEventListener('mouseleave', ()=>{
                    unhighlightBalls(false, predictedEvent.replace(/\s/g, "-").toLowerCase());
                });
            },1000);
        {% else %}
            setTimeout(()=>{
                highlightBalls(true, predictedEvent.replace(/\s/g, "-").toLowerCase());
                //Unhighlight after 2seconds
                setTimeout(()=>{
                    unhighlightBalls(true, predictedEvent.replace(/\s/g, "-").toLowerCase())
                },2000);

                document.querySelector('.predicted-event').addEventListener('mouseenter', ()=>{
                    highlightBalls(true, predictedEvent.replace(/\s/g, "-").toLowerCase());
                });
                document.querySelector('.predicted-event').addEventListener('mouseleave', ()=>{
                    unhighlightBalls(true, predictedEvent.replace(/\s/g, "-").toLowerCase());
                });
            },1000);
        {% endif %}
    {% endif %}

    const sliders = document.querySelectorAll('.slider');
    for(let i = 0;i<sliders.length;i++){
    sliders[i].addEventListener('mousedown', ()=>{
        sliders[i].classList.remove('slider-thumb-hidden');
    });
    }
    console.log('asd')
</script>
{{ endblock }}

{{ block styles }}
<link href="{{ static 'belief-slider.css' }}" rel="stylesheet">
<style>
    .tab {
        display: none;
        text-align: justify;
    }
    .otree-title {
        text-align: center;
    }
    .otree-body{
        font-size: 103%;
    }
    .otree-timer {
        display: none;
    }
</style>
<style>
    #instruction {
        display: block;
    }
    #certain {
        display: none;
    }
    #uncertain {
        display: none;
    }
    #active {
        display: none;
    }
    #inactive {
        display: block;
    }
</style>
<style>
    .urn{
    background: linear-gradient(44deg, #a4f2ff, #c8f7ff);
    width: 262px;
    height: 304px;
    border: 6px solid rgb(56, 56, 56);
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
    margin: auto;
    border-top: none;
    position: relative;
    box-shadow: 11px 11px 12px 2px rgb(0 0 0 / 5%);
    }

    .ball{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #7e7e7e;
    box-shadow:inset 3px -4px 8px rgba(255, 255, 255, 0.384), inset -3px 1px 4px rgba(0, 0, 0, 0.404), 0 0 1px #0000003b ;
    transition: border 0.5s ease;
    }

    .ball:nth-child(4n){
    z-index: 100;
    }

    .ball:nth-child(2n){
    z-index: 50;
    }


    .ball.highlighted{
    border: 3px solid yellow;
    z-index: 100;
    }

    .ball.highlightedAll{
    border: 2px solid yellow;
    }

    .ball.uncolored{
    border-color: #7e7e7e;
    }

    .ball.uncolored:before{
        content: '?';
        width:100%;
        height:100%;
        font-size:13px;
        display:flex;
        align-items:center;
        justify-content:center;
    }

    .left-column{
    position: relative;
    left: -260px;
    height: 100%;
    bottom: 0;
    text-align: right;
    }

    .color-row{
    position: absolute;
    width: 100%;
    transition: all 0.5s ease;
    }

    .color-row.highlighted,
    .color-row.highlightedAll{
        color: rgb(242 215 36);
        transform: translateX(-15px) scale(1.1);
    }
    .slider::-webkit-slider-thumb{
        transition: opacity 0.5s ease;
    }

    .slider-thumb-hidden::-webkit-slider-thumb{
        opacity: 0;
    }
</style>
<style>
a:link {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

a:hover {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}
</style>
{{ endblock }}

{{ block content }}

<p>
    {% if treatambiguity %}
    In this round, the urn consists of <b>100 balls of up to {% if prior == 50 %}2{% else %}5{% endif %} different colors</b>.
    <br>
    Specifically, there may be some balls that are {% if prior == 50 %}{{ slicecolor1 }}, and some that are {{ slicecolor2 }}{% else %}{{ slicecolor1 }}, {{ slicecolor2 }}, {{ slicecolor3 }}, {{ slicecolor4 }}, and {{ slicecolor5 }}{% endif %} in color.
    <br>
    There are no other colors apart from these {% if prior == 50 %}two{% else %}five{% endif %}.
    <br>
    You do <b>not</b> know the exact composition of the urn.
    {% elif treatrisk %}
    In this round, the urn consists of <b>100 balls</b>, with composition as shown in the figure below.
<!--    <br>-->
<!--    Specifically, there are {% if prior == 50 %}<b>{{ numcolor1 }}</b> {{ slicecolor1 }} and <b>{{ numcolor2 }}</b> {{ slicecolor2 }} balls{% else %}<b>{{ numcolor1 }}</b> {{ slicecolor1 }} balls, <b>{{ numcolor2 }}</b> {{ slicecolor2 }} balls, <b>{{ numcolor3 }}</b> {{ slicecolor3 }} balls, <b>{{ numcolor4 }}</b> {{ slicecolor4 }} balls, and <b>{{ numcolor5 }}</b> {{ slicecolor5 }} balls{% endif %}.-->
    {% endif %}
    <br><br>
</p>

<div class="urn">
    <div class="left-column">
        <div class="color-row row-1"></div>
        <div class="color-row row-2"></div>
        <div class="color-row row-3"></div>
        <div class="color-row row-4"></div>
        <div class="color-row row-5"></div>
        <div class="color-row row-6"></div>
        <div class="color-row row-7"></div>
        <div class="color-row row-8"></div>
        <div class="color-row row-9"></div>
        <div class="color-row row-10"></div>
    </div>
</div>

<br><br>

<p>
    In the previous screen, you stated that there is a <font size="+2"><b>{{ belief }}% chance</b></font> that a randomly drawn ball is
    {% if predicttrue %}{{ colorevent }}.{% endif %}
    {% if predictfalse %}either
        {% if slicecolor1 != colorevent %}{{ slicecolor1 }}, {% endif %}
        {% if slicecolor2 != colorevent %}{{ slicecolor2 }}, {% endif %}
        {% if slicecolor3 != colorevent %}{{ slicecolor3 }}, {% endif %}
        {% if slicecolor4 != colorevent %}
            {% if slicecolor5 == colorevent %}or {{ slicecolor4 }}.{% endif %}
            {% if slicecolor5 != colorevent %}{{ slicecolor4 }}, {% endif %}
        {% endif %}
        {% if slicecolor5 != colorevent %}or {{ slicecolor5 }}.{% endif %}
    {% endif %}
    <br><br>
    <b>Remember that {% if bsr %}your chance of receiving &euro;{{ stakes }} depends on the accuracy of your prediction.{% else %}your payoff depends on the accuracy of your prediction.{% endif %}</b>
    <br>
    Given the payment mechanism, how <b>certain</b> are you that {{ belief }}% is the <b>optimal answer</b> to give?
</p>

<center>
    <label for="myRange" class="float-left" style="width:300px" align="left"><b>Very uncertain</b></label>
    <label for="myRange" class="float-right" style="width:300px" align="right"><b>Completely certain</b></label>
    <div class="slidecontainer">
        <input type="range" min="0" max="30" step="1" value="-1" class="slider slider-thumb-hidden" id="myRange" name="cognitive_certainty">
    </div>
</center>
<br>

<div id="instruction">
    Please adjust the slider.
</div>
<div id="certain">
    I am certain that the optimal guess is <b>exactly {{ belief }}%</b>.
</div>
<div id="uncertain">
    I am certain that the optimal guess is <b>between <span id="min"></span>% and <span id="max"></span>%</b>.
</div>

<div class="button" align="right" id="active">
    <br><br>
    <button class="btn btn-primary mb-3">
        NEXT
    </button>
</div>

<div class="button" align="right" id="inactive">
    <br><br>
    <button class="btn btn-secondary disabled mb-3">
        NEXT
    </button>
</div>

</p>

{{ endblock }}

